<ion-header>
  <ion-navbar>
    <ion-title>Add task</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-fab bottom right>
    <button ion-fab (click)="add()">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>

  <ion-list>
    <ion-item>
      <ion-label color="primary" floating>Enter task </ion-label>
      <ion-input name="add" [(ngModel)]="item"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
