<ion-content padding>
  <ion-icon name="finger-print" class="logo" color="primary"></ion-icon>
  <h1 class="logo-title">SelfID</h1>
  <div style="position: absolute;left:0;bottom:10px;width:100%;height:auto;padding: 0 15px">
    <button ion-button round block (click)="CreateID()">Create new ID</button>
    <button ion-button round clear block (click)="RecoverID()">Recover ID</button>
  </div>
</ion-content>
