page-welcome {
  .logo {
    font-size: 50px;
    display: inline-block;
  }
  .logo-title {
    margin-top: 0;
    font-size: 48px !important;
    padding-left: 5px;
    color: #488aff;
    display: inline-block;
  }
}
