<ion-header>

  <ion-navbar>
    <ion-title>Node list</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refreshNodeList()">
        <ion-icon name="refresh-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="copyNodeList()">
        <ion-icon name="copy"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-fab right bottom style="right:20px;bottom:20px">
    <button ion-fab color="primary" (click)="addNode()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list no-lines>
    <ion-item>
      <ion-label>Auto update node list</ion-label>
      <ion-toggle checked="false"></ion-toggle>
    </ion-item>
    <ion-item-sliding *ngFor="let node of getEntries()">
      <ion-item>
        <h2>{{node[0]}}</h2>
        <p>{{node[1].link}} |
          <ion-badge>{{node[1].latency}}ms</ion-badge>
        </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>