<ion-tabs>
  <ion-tab [root]="aRoot" tabIcon="finger-print" tabUrlPath="tabs"></ion-tab>
  <ion-tab [root]="bRoot" tabIcon="globe" tabUrlPath="tabs"></ion-tab>
  <ion-tab [root]="cRoot" tabIcon="chatbubbles" tabUrlPath="tabs"></ion-tab>
  <ion-tab [root]="dRoot" tabIcon="settings" tabUrlPath="tabs"></ion-tab>
</ion-tabs>