<!--
  Generated template for the CreateAppCertPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create new App-Cert</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>

    <ion-item>
      <ion-label stacked>App information</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
    </ion-item>
  </ion-list>
  <div style="position: absolute;left:0;bottom:10px;width:100%;height:auto;padding: 0 15px">
    <button ion-button round block (click)="createCert()">Create</button>
  </div>
</ion-content>
