<!--
  Generated template for the SignDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Signing data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="position: absolute;left:0;bottom:10px;width:100%;height:auto;padding: 0 15px">
    <button ion-button round block (click)="sign()">Sign</button>
  </div>
</ion-content>
