<ion-content>
  <h1 style="color:#444;font-weight: bold;padding-left:15px">Setting</h1>
  <ion-list no-lines>
    <button ion-item>
      <ion-label>About</ion-label>
    </button>
    <button ion-item (click)="viewNodes()">
      <ion-label>Node list</ion-label>
    </button>
    <ion-item (click)="connectNetwork()">
      <h2>Connect to the network</h2>
      <p>
        <ion-badge [color]="nervnet.currentConnected == 0 ?'danger':'primary'">{{nervnet.currentConnected == 0 ?'not':nervnet.currentConnected}} connected</ion-badge>
      </p>
    </ion-item>
    <button ion-item (click)="viewBackupRestore()">
      <ion-label>Backup & Restore</ion-label>
    </button>
    <button ion-item (click)="viewPrivateKey()">
      <ion-label color="danger">View your private key</ion-label>
    </button>
    <button ion-item (click)="switchID()">
      <ion-label color="danger">Switch ID</ion-label>
    </button>
    <button ion-item>
      <ion-label>Report bug
        <ion-icon name="ios-bug-outline"></ion-icon> / feedback</ion-label>
    </button>
  </ion-list>
</ion-content>