<ion-header>

  <ion-navbar>
    <ion-title>Backup & Restore</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <p>Perform a complete backup of your data on this device with an encryption.</p>
  <button ion-button block>Backup</button>
  <div style="height: auto;width:100%;background: #f9f9f9;overflow: hidden;margin-top: 20px;padding:0 10px 6px">
    <p>No latest restore</p>
    <button ion-button clear full>Restore</button>
  </div>
</ion-content>