<!--
  Generated template for the ChattingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{conversationID}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="chat-bubble-area " *ngFor="let text of conversationHistory">
    <div class="chat-bubble chat-bubble-text" [ngClass]="text.s == conversationID ? 'chat-bubble-left': 'chat-bubble-right'">
      <div class="chat-text">{{text.ctn}}
      </div>
    </div>
    <!-- <div class="chat-images-box" [hidden]="(text.contentImg.length == 0)" [ngClass]="text.byBot ? 'chat-bubble-img-right': 'chat-bubble-img-left'">
      <div *ngFor="let img of text.contentImg" class="chat-image" [ngStyle]="{'background' : 'url('+img.srcElement.result+') no-repeat center'}">
      </div>
    </div> -->
  </div>

</ion-content>
<ion-footer>
  <ion-item>
    <ion-input placeholder="Aa" [(ngModel)]="userMsgInput"></ion-input>
    <button ion-button icon-only clear item-end (click)="sendMsg()">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-item>
</ion-footer>
