page-chatting {
  .chat-bubble-area {
    padding-bottom: 10px;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .chat-bubble {
    max-width: 70%;
    width: auto;
    min-height: 20px;
    height: auto;
    display: block;
  }
  .chat-bubble-right {
    float: right;
    background: #488aff;
    margin-right: 8px;
    border-radius: 20px 20px 0px 20px;
    color: #fff;
  }
  .chat-bubble-left {
    float: left;
    margin-left: 8px;
    background: #eee;
    border-radius: 20px 20px 20px 0px;
  }
  .chat-bubble-img-left {
    direction: ltr;
    padding-left: 30%;
    padding-right: 15px;
  }
  .chat-bubble-img-right {
    direction: rtl;
    padding-right: 30%;
    padding-left: 15px;
  }
  .chat-bubble-text {
    .chat-text {
      padding: 10px 12px 10px 12px;
      font-size: 15px;
      line-height: 18px;
      width: auto;
    }
  }
  .chat-images-box {
    padding-top: 5px;
    width: 100%;
    height: 128px;
    overflow: auto;
    white-space: nowrap;
    .chat-image {
      display: inline-block;
      margin-left: 5px;
      border-radius: 25px;
      width: 170px;
      height: 115px;
      border: 1px solid #ccc;
      background-size: contain !important;
      background-color: #fff !important;
    }
  }
  .chat-option-box {
    transition: opacity 0.3s ease-out;
    z-index: 9999;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    overflow: auto;
    white-space: nowrap;
    padding-left: 30%;
    padding-right: 20px;
    opacity: 1;
    .chat-option {
      display: inline-block;
      margin-left: 5px
    }
  }
  .chat-option-hide {
    opacity: 0 !important;
  }
  .chat-option-btn {
    border-radius: 20px 20px 0px 20px !important;
    text-transform: none !important;
    font-weight: normal;
    font-size: 16px
  }
  ion-content {
    .scroll-content {
      padding-top: 20px
    }
  }
  .item-md {
    padding: 0 0 0 10px !important
  }
  .item-md.item-block .item-inner {
    border-bottom: none !important;
    box-shadow: none !important
  }
}
