page-app-store {
    ion-card {
        width: calc(100% - 30px) !important;
        display: table;
        margin-left: 15px !important;
        margin-bottom: 20px !important;
    }
    ion-searchbar {
        width: calc(100% - 14px) !important;
        display: table;
        margin-left: 7px !important;
        margin-bottom: 15px !important;
        margin-top: -5px;
    }
    .searchbar-input-container {
        border: 1px solid #eee;
        border-radius: 50px;
        overflow: hidden;
    }
    .vertical-app-box {
        width: 100%;
        height: 128px;
        overflow: auto;
        white-space: nowrap;
        padding: 0 10px;
        .app-box {
            display: inline-block;
            margin: 0 10px 0 !important;
            width: 55% !important;
            height: 110px;
            max-width: 300px !important;
        }
    }
}