<ion-content>
  <h1 style="color:#444;font-weight: bold;padding-left:15px">Discover Apps</h1>
  <h4 style="color:#444;padding-left: 15px">Popular in network area</h4>
  <div class="vertical-app-box">
    <ion-card class="app-box">

      <ion-card-header>
        App 1
      </ion-card-header>

      <ion-card-content>

      </ion-card-content>

    </ion-card>
    <ion-card class="app-box">

      <ion-card-header>
        App 2
      </ion-card-header>

      <ion-card-content>

      </ion-card-content>

    </ion-card>
    <ion-card class="app-box">

      <ion-card-header>
        App 3
      </ion-card-header>

      <ion-card-content>

      </ion-card-content>

    </ion-card>
  </div>


  <div style="position: relative;height:62px;width:100%"></div>
  <!-- 
  <ion-fab right bottom style="right:20px;bottom:20px">
    <button ion-fab color="primary" (click)="createAppCert()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->

</ion-content>
<div style="position: absolute;left:0;bottom:52px;width:100%;height:auto;padding: 0;z-index:999">
  <ion-searchbar [showCancelButton]="false"></ion-searchbar>
</div>