page-my-profile {
  .user-acc-box {
    display: block;
    height: auto;
    width: 100%;
    padding-left: 15px;
    img {
      position: absolute;
      top: 25px;
      right: 15px;
      border-radius: 100%
    }
    p {
      margin-top: 0px;
      width: 70% !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border: 1px solid #eee;
      border-radius: 20px;
      text-align: center;
      padding: 6px 9px;
      color: #999
    }
  }
}
