<ion-content>
  <h1 style="color:#444;font-weight: bold;padding-left:15px">My ID</h1>
  <div class="user-acc-box">
    <img [src]="accountImg" alt="">
    <p>{{account.pubKey}}</p>
  </div>
  <ion-fab right bottom style="right:20px;bottom:20px">
    <button ion-fab>
      <ion-icon name="key"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="viewPubkey()">
        <ion-icon name="finger-print"></ion-icon>
      </button>
      <button ion-fab (click)="signData()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>