<ion-content>
  <h1 style="color:#444;font-weight: bold;padding-left:15px">Messages</h1>
  <ion-fab right bottom style="right:20px;bottom:20px">
    <button ion-fab color="primary">
      <ion-icon name="chatbubbles"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="searchChat()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-fab (click)="scanQR()">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
      <button ion-fab (click)="createChat()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-list no-lines>
    <ion-item-sliding *ngFor="let conversation of getMsgHistory()">
      <ion-item (click)="viewChat(conversation[0])">
        <ion-avatar item-start>
          <img [src]="conversation[2]">
        </ion-avatar>
        <h2>{{conversation[0]}}</h2>
        <p>{{conversation[1].ctn}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteCvs(conversation)">
          <ion-icon name="trash"></ion-icon>
          delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<div style="position: absolute;left:0;bottom:52px;width:100%;height:auto;padding: 0;z-index:999" [hidden]=true>
  <ion-searchbar [showCancelButton]="false"></ion-searchbar>
</div>