page-messaging {
    ion-searchbar {
        width: calc(100% - 14px) !important;
        display: table;
        margin-left: 7px !important;
        margin-bottom: 15px !important;
        margin-top: -5px;
    }
    .searchbar-input-container {
        border: 1px solid #eee;
        border-radius: 50px;
        overflow: hidden;
    }
}